node_modules/
public/js

/target
/checkouts
/src/gen
static/styles/main.css

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
*.purged.css
/assets
/resources/**/static/js/
/resources/**/static/dev
/resources/**/static/js-dev
/resources/**/static/styles-dev/
/resources/**/static/styles/
/test-assets/
/local/src
/local/resources
/cypress/videos
/cypress/screenshots
/release
/docs
.clj-kondo/hooks
**/.cpcache/
.clj-kondo/
