{:deps {:aliases [:shadow-cljs]}
 :jvm-opts ["-Xmx4g"]
 :nrepl {:port       3344
         :cider      true
         :init-ns    user
         :middleware [refactor-nrepl.middleware/wrap-refactor]}

 :http {:port 3346}

 :dev-http {
            ;; serve dev files
            3345 ["classpath:app"]
            ;; service release files
            13345 "docs"}

 :builds {:app {:target
                :browser

                :devtools
                {:before-load
                 sctools.app/before-reload

                 :after-load
                 sctools.app/after-reload

                 :watch-dir
                 "assets/app/sctools/static/dev/styles"
                 :watch-path
                 "/sctools/static/dev/styles"

                 :preloads [#_react-preloads

                            ;; These are combined with dev/user.clj to
                            ;; make hashp.
                            user
                            hashp.core
                            debux.common.util
                            debux.cs.util

                            sctools.cypress
                            sctools.devcards
                            sctools.devcards.mui
                            devtools.preload
                            day8.re-frame-10x.preload]}

                :dev
                {:closure-defines
                 {"goog.DEBUG"                                 true
                  "re_frame.trace.trace_enabled_QMARK_"        true
                  "day8.re_frame.tracing.trace_enabled_QMARK_" true}

                 :output-dir
                 "assets/app/sctools/static/dev/js"

                 :asset-path
                 "/sctools/static/dev/js"

                 :compiler-options {:devcards true
                                    :output-feature-set      :es2018
                                    :infer-externs false}}

                :release
                {:output-dir
                 "resources/app/sctools/static/js"

                 :asset-path
                 "/sctools/static/js"

                 :build-options
                 {:ns-aliases
                  {day8.re-frame.tracing day8.re-frame.tracing-stubs}}

                 :compiler-options
                 {:optimizations           :advanced
                  :infer-externs           true
                  :source-map              true
                  :source-map-detail-level :all
                  :output-feature-set      :es2018
                  :pretty-print            true
                  :pseudo-names            true
                  }}

                :modules
                {:main
                 {:init-fn
                  sctools.app/main}}}

          :test {:target :browser-test
                 :closure-defines {malli.registry/type "custom"}
                 :ns-regexp "sctools.*-test$"

                 :test-dir "resources/app/sctools/static/dev/jstest"

                 :autorun false

                 :compiler-options
                 {:output-feature-set :es2018
                  :infer-externs false
                  :external-config {:crypticbutter.snoop {}}}

                 :devtools
                 {:http-port
                  28103

                  :http-root
                  "resources/app/sctools/static/dev/jstest"

                  ;; resolves to classpath:app so it could locate static files in
                  ;; `resources/app/sctools/static/...`
                  :http-resource-root "app"

                  :preloads [devtools.preload
                             debux.common.util
                             debux.cs.util
                             shadow-test-utils.pretty-diff
                             hashp.core]}}


          ;; 1. compile to advanced mode;
          ;; 2. loaded in browser to override some methods:
          ;; let script = document.createElement('script'); script.src = "/static/dev/js/browser/main.js";  document.body.append(script)
          ;; 3. then do benchmarks in the advanced mode :yay:
          :libs {:target :browser
                 :devtools {:enabled false}
                 :output-dir "assets/app/sctools/static/dev/jslibs"

                 :compiler-options
                 {:optimizations :advanced
                  :pretty-print true
                  :pseudo-names true}

                 :modules
                 {:main {:init-fn sctools.meander-bench/init}}}

          :test-kaocha {:target    :browser-test
                        :runner-ns kaocha.cljs2.shadow-runner
                        :test-dir "assets/app/sctools/static/dev/test-kaocha"
                        :ns-regexp ".*-test$"

                        :devtools
                        {:http-port 3347

                         :http-root "assets/app/sctools/static/dev/test-kaocha"

                         :preloads [devtools.preload
                                    debux.common.util
                                    debux.cs.util
                                    hashp.core]}}

          :ci
          {:target    :karma
           :output-to "test-assets/karma/ci.js"
           :ns-regexp "-test$"}}}
