@import "utils.css";

html, body {
    overscroll-behavior: none;
    /* overflow: hidden; */
}

html {
    @apply overflow-hidden;
}

.x-drawer {
    @apply fixed top-0 left-0 h-full bg-white;
    @apply border-r;
    @apply x-w-240px;
}

.x-main-area {
    width: calc(100% - 240px);
}

@screen lt-md {
    .x-drawer {
        z-index: 10;
        left: -240px;
        &.x-drawer-open {
            left: 0;
        }
    }

    .x-main-area {
        @apply w-full;
        &.x-drawer-open {
            @apply x-ml-240px;
        }
    }
}

.x-link-selected {
    @apply bg-gray-300 !important;
}

/* .MuiToolbar-gutters { */
/*     @apply px-8 !important; */
/* } */

#leftbar-mask-container {
    @apply absolute top-0 left-0 h-full;
    z-index: 1;
    #leftbar-mask {
        @apply h-full border-r;
        width: 240px;
        /* border: 1px solid red; */
        background-color: white;
    }
}
