@import 'utils.css';

html,
body {
  overscroll-behavior: none;
  /* overflow: hidden; */
}

html {
  @apply overflow-hidden;
}

.x-drawer {
  @apply fixed top-0 left-0 h-full bg-white;
  @apply border-r;
  @apply x-w-240px;
}

.x-main-area {
  width: calc(100% - 240px);
}

@screen lt-md {
  .x-drawer {
    z-index: 10;
    left: -240px;
    &.x-drawer-open {
      left: 0;
    }
  }

  .x-main-area {
    @apply w-full;
    &.x-drawer-open {
      @apply x-ml-240px;
    }
  }
}

.x-link-selected {
  @apply bg-gray-300 !important;
}

/* .MuiToolbar-gutters { */
/*     @apply px-8 !important; */
/* } */

#leftbar-mask-container {
  @apply absolute top-0 left-0 h-full;
  z-index: 1;
  #leftbar-mask {
    @apply h-full border-r;
    width: 240px;
    /* border: 1px solid red; */
    background-color: white;
  }
}

.dev {
  &.top-container {
    /* height: 30vh; */
    /* height: 100%; */
    /* width: 100%; */
    /* position: absolute; */
    /* overflow: scroll; */
    /* overflow: visible; */
    /* overflow-x: auto; */
    /* overflow: auto; */
    /* @apply relative; */
    @apply absolute;
    /* @apply flex flex-col; */
    @apply w-full h-full;
    /* width: 500px; */
    /* height: 500px; */
  }

  .header {
    @apply bg-blue-300 border rounded;
  }

  .direct-container {
    /* height: 10vh; */
    /* overflow: visible; */
    @apply overflow-scroll;
    @apply h-full;
    /* @apply w-full; */
  }

  .line {
    white-space: nowrap;
  }
}

.vega-embed {
  @apply w-full;
}

/* .vega-embed > svg { */
/*   width: 100%; */
/*   height: 100%; */
/* } */
