/* custom utility class use the same prefix with builtin class names */
/* like w- / text- etc., but with a x -prefix, e.g. w- becomes x-w-. */

/*****************/
/* Utility classes */
/*****************/
@variants first, focus, hover, responsive {

.x-h-48px {
    min-height: 48px;
}

.x-h-64px {
    min-height: 64px;
}

.x-w-240px {
    width: 240px;
}

.x-ml-240px {
    margin-left: 240px;
}

}

