{:lint-as {sctools.utils/deftimer clojure.core/def
           sctools.utils.rf-utils/defev clojure.core/fn
           helix.core/defnc clojure.core/defn
           devcards.core/defcard clojure.core/def
           devcards.core/defcard-rg clojure.core/def
           nubank.workspaces.core/defcard clojure.core/def
           day8.re-frame.tracing/fn-traced clojure.core/fn
           applied-science.js-interop/let clojure.core/let
           day8.re-frame.tracing/defn-traced clojure.core/defn
           emotion.core/defstyled clojure.core/def
           reagent.core/with-let clojure.core/let}
 :linters {:unresolved-symbol {:exclude [goog.DEBUG
                                         (sctools.utils/prog1 [<>])
                                         (sctools.test.utils/mock-event-handler [called])
                                         (sctools.test.utils/mock-effect-handler [called])]},
           :unused-namespace {:exclude [sctools.log]},
           :unused-referred-var {:exclude {sctools.log [log]
                                           clojure.core.async [go-loop timeout <! go]
                                           }}}}
